
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base{

  .techBtn{
    @apply border-[1px] w-fit p-2 border-[#114C3F] text-xs rounded-xl text-white bgOrange font-bold
  }

  .bgOrange{
    @apply bg-[#E14A38]
  }

  .bgGreen{
    @apply bg-[#114C3F]
  }

  .bgGreenOp{
    @apply bg-[#114C3F] opacity-25
  }
  .bgStone{
    @apply bg-stone-300
  }

  .textStone{
    @apply text-stone-300
  }

  .textOrange{
    @apply text-[#E14A38]
  }

  .textGreen{
    @apply text-[#114C3F]
  }

}
